import React from 'react';
import { Layout } from 'components/Layout';

import { Entando6CoreLanguagesDataSource } from '@entando-webui/app-engine-client';
import { getPage } from '@entando-webui/app-engine-client/src/core/pages/getPage';

interface IPage {
  title: string
  group: string
  secondaryGroups: Array<string>
}

interface Props {
  page: IPage
}

const {{pageVarName}} = ({ page }: Props) => {
  return (
    <Layout title={page.title}>
      <>
        <h1 className="my-5">Welcome to the Next Generation Entando Web Renderization Engine 👋</h1>
        <div className="mb-5 lead text-muted">
          This page route was overriden from PortalUI,
          so that you can gradually migrate your Legacy pages into WebUI.
        </div>
      </>
    </Layout>
  );
};

export async function getStaticProps({ params }) {
  const { language } = params;
  const pageCode = '{{pageCode}}';
  const pageData = await getPage(pageCode);

  return {
    props: {
      page: {
        seoMetadata: { },
        group: pageData.ownerGroup,
        secondaryGroups: pageData.joinGroups,
        title: pageData.fullTitles[language],
      },
      language,
    },
    revalidate: 15 * 60, //15 minutes
  };
}

export async function getStaticPaths() {
  const langs = await Entando6CoreLanguagesDataSource();
  const paths = langs
    .filter(lang => lang.isActive === true)
    .map(lang => {
      return { params: { language: lang.code }};
    });

  return {
    paths,
    fallback: false,
  };
}

export default {{pageVarName}};
